---
http_interactions:
- request:
    method: get
    uri: https://fruityvice.com/api/fruit/banana
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"Banana","id":1,"family":"Musaceae","order":"Zingiberales","genus":"Musa","nutritions":{"calories":96,"fat":0.2,"sugar":17.2,"carbohydrates":22.0,"protein":1.0}}'
  recorded_at: Fri, 12 Jul 2024 22:23:40 GMT
- request:
    method: get
    uri: https://fruityvice.com/api/fruit/banana
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"Banana","id":1,"family":"Musaceae","order":"Zingiberales","genus":"Musa","nutritions":{"calories":96,"fat":0.2,"sugar":17.2,"carbohydrates":22.0,"protein":1.0}}'
  recorded_at: Fri, 12 Jul 2024 22:23:40 GMT
recorded_with: VCR 6.2.0
